@import url("https://rsms.me/inter/inter.css");

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin-top: 50px;
}

.featured__hslider {
  display: block;
}

.featured__hslider .featured__card {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.featured__hslider .featured__card--body {
  /* margin-top: -10%; */
}

.featured__hslider .featured__card--body h6 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #12141d;
}

.featured__hslider .featured__card--body h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #12141d;
}

.featured__hslider .featured__card--body p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #12141d;
  opacity: 0.7;
}

.featured__hslider .featured__card--img {
  text-align: right;
  text-align: -webkit-right;
}

.featured__hslider .featured__card--img img {
  width: 80%;
  text-align: right;
  height: auto;
  border-radius: 10px;
}

.featured__hslider .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block !important;
}

.featured__hslider .owl-nav {
  text-align: center;
  margin-top: 20px;
}

.featured__hslider .owl-nav i {
  background: #fff;
  width: 50px;
  line-height: 47px;
  height: 50px;
  color: #000;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #000;
}

.featured__hslider .owl-nav:hover,
.featured__hslider .owl-nav button:hover {
  background: transparent !important;
}

.featured__hslider .owl-nav i:hover {
  background: #1e325d;
  color: #fff;
  font-size: 20px;
  border-radius: 50% !important;
  border: 2px solid #1e325d;
}

@media (max-width: 768px) {
  .featured__hslider .featured__card--img {
    text-align: center;
    text-align: -webkit-center;
  }

  .featured__hslider .featured__card--img img {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }

  .featured__hslider .featured__card--body h6,
  .featured__hslider .featured__card--body h2,
  .featured__hslider .featured__card--body p {
    text-align: center;
  }
}
